<% if logged_in? %>
    <h1>Welcome Back, <%= current_user.first_name %></h1>
    <br>
    <%= link_to "View Your Profile", user_path(session[:user_id]) %>
    <br>
    <br>
    <%= link_to "View Movies", movies_path %>
    <br>
    <br>
    <%= link_to "Contribute To Our Movie Database", new_movie_path %>
    <br>
    <br>
    <%= link_to "Write A Review", new_review_path %>
    <br>
    <br>
    <%= button_to "Log out", "/logout" %>
<% else %>
    <div class="container">
    <div class="jumbotron">
        <h1>Welcome to Cinemaddict</h1>      
        <p>Sign up today to contribute to our wonderful world of movie reviews.</p>
        
        <a href="/login" class="btn btn-primary" role="button">Login</a>
        <a href="/users/new" class="btn btn-success" role="button">Sign Up</a>
    </div>
     
<%end%>
