<h1>Edit Form For <%= @movie.title %></h1>
<hr>
<% if @errors %>
    <% @errors.each do |error| %>
      <p style="color:red"><%= error %></p>
    <% end %>
  <% end %>
<%= form_for @movie do |f| %>
    <%= f.label :title %>
        <%= f.text_field :title %>
        <br>
        <br>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <br>
        <br>
        <%= f.label :genre %>
        <%= f.select :genre, ['Action', 'Adventure', 'Animation / Anime', 'Biopic', 'Childrens', 'Comedy', 'Crime', 'Detective/Spy', 'Documentary', 'Drama', 'Horror', 'Family', 'Fantasy', 'Historical', 'Musical', 'Romance', 'Sport', 'Sci-Fi', 'Thriller / Suspense','War', 'Western'] %>
        <br>
        <br>
        <%= f.label :rating %>
        <%= f.select :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17']%>
        <br>
        <br>
        <div class="form-group">
          <% if @movie.image.attached? %>
            <%= image_tag @movie.image, style: "width: 200px; display: block" %>
          <% end %>

          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
    <%= f.submit "Edit" %>
<% end %>