<h1>Movie List</h1>
<%= link_to "Main Menu", '/welcome' %>
<br>
<% @movies.each do |movie| %>
    <h2><%= link_to movie.title, movie_path(movie)%></h2>
    <ul>
        <li><%= "Genre: #{movie.genre}" %></li>
        <li><%= "Description: #{movie.description}" %></li>
        <li><%= "Rating: #{movie.rating}" %></li>
    </ul>
<% end %>

<%= link_to "Add New Movie", new_movie_path %>