  <h1>Move List</h1>
  <% @movies.each do |movie| %>
    <ul>
        <%= image_tag movie.image, style: "width: 250px; display: block" %>
        <h5><%= link_to "#{movie.title}", movie_path(movie) %></h5>
        <li><%= "Genre: #{movie.genre}" %></li>
        <li><%= "Description: #{movie.description}" %></li>
        <li><%= "Rating: #{movie.rating}" %></li>
    </ul>
  <% end %>
  
