<h1>Add New Movie</h1>
<br>
<% if @errors %>
    <% @errors.each do |error| %>
      <p style="color:red"><%= error %></p>
    <% end %>
  <% end %>
<%= form_for @movie do |f| %>
    <%= f.label :title %><br>
        <%= f.text_field :title %>
        <br>
        <br>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
        <br>
        <br>
        <%= f.label :genre %><br>
        <%= f.select :genre, ['Action', 'Adventure', 'Animation / Anime', 'Biopic', 'Childrens', 'Comedy', 'Crime', 'Detective/Spy', 'Documentary', 'Drama', 'Horror', 'Family', 'Fantasy', 'Historical', 'Musical', 'Romance', 'Sport', 'Sci-Fi', 'Thriller / Suspense','War', 'Western'] %>
        <br>
        <br>
        <%= f.label :rating %><br>
        <%= f.select :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17']%>
        <br>
        <br>
        <div class="form-group">
          <% if @movie.image.attached? %>
            <%= image_tag @movie.image, style: "width: 200px; display: block" %>
          <% end %>

          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
        </div>

    <input type="submit" class="btn btn-info" value="Submit">
<% end %>