<h1>Search Results</h1>
<% if @movies.empty?  %>

<h1>Sorry We Couldn't Find That Movie</h1>
<% else %>
<% @movies.each do |movie| %>
    <ul>
        <%= image_tag movie.image, style: "width: 200px; display: block" %>
        <h5><%= link_to "#{movie.title}", movie_path(movie) %></h5>
        <li><%= "Genre: #{movie.genre}" %></li>
        <li><%= "Description: #{movie.description}" %></li>
        <li><%= "Rating: #{movie.rating}" %></li>
    </ul>
  <% end %>

  <% end %>