<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2><%= @movie.title %></h2>
      <% if @movie.image.attached? %>
        <!-- @movie.image.present? will always return true, use attached? to check presence -->
        <p>
            <%= image_tag @movie.image.variant(resize: "500x500") %>
        </p>
        <% end %>
      <p>Genre: <%= @movie.genre %></p>
      <p>Description: <%= @movie.description %></p>
      <p>Rating: <%= @movie.rating %></p>
      <h3>User Options</h3>
      <p>What would you like to do next?</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href=<%=new_review_path%>>Write A Review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=edit_movie_path(@movie)%>>Update Movie Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
        <% if !@movie.reviews.empty? %>
            <% Review.all.each do |review| %>
                <% if review.movie_id == @movie.id  %>
                <h2><%= review.description.slice(0..20) %></h2>
                <h4><%= review.movie.title %></h4>
                <h5>Cinemaddict Rating:</h5>
                    <% times = review.movie_rating %>
                    <% while times > 0 do %>
                    <span class="fa fa-star checked"></span>
                    <% times-=1 %>
                    <% end %>
                <br>
                <br>
                <p><%= review.description.slice(0..100) %></p>
                <br>
                <p><%= "Posted: #{review.created_at.strftime("%a %b %e %T %Y")}" %></p>
                <% end %>
            <% end %>
        
        <% else %>
            
            <br>
            <br>
            <h2>Be the first to review this movie!</h2>
        <% end %>
    </div>
  </div>
</div>