<h1>Welcome to <%= @user.full_name %>'s Page</h1>

<h2>Profile</h2>

<%= link_to "Main Menu", '/welcome' %> | <%= link_to "Edit Profile", edit_user_path(@user) %> | <%= link_to "Users Index", users_path %>

<h3>First Name: <%= @user.first_name %></h3>
<br>
<h3>Last Name: <%= @user.last_name %></h3>
<br>
<h3>Username: <%= @user.username %></h3>
<br>
<h3>Email: <%= @user.email %></h3>
<br>
<br>
<h2>Reviews</h2>
<ol>
  <% @user.reviews.each do |review| %>
    <li>Movie: <%= Movie.find(review.movie_id).title %></li>
  <% end %>
</ol>

<br>
<%= button_to "Delete Acc", user_path(@user), :method => :delete %>
