<h1>Movie Reviews</h1>

<br>
<% @reviews.each do |review| %>
    <h4><%= link_to "#{review.description.slice(0..29)}...", review_path(review)%></h4>
    <ul>
        <li>Movie: <%= link_to Movie.find(review.movie_id).title, movie_path(review.movie_id) %></li>
        <li>Reviewed by: <%= User.find(review.user_id).username%></li>
        <li><%= "Description: #{review.description}" %></li>
    </ul>
<% end %>

<%= link_to "Write A Review", new_review_path %>
